<!-- Task 1 - Basic HTML Demonstration -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Adding External Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oswald&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>Week 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
  </head>
  <body>
    <!-- Inline CSS -->
    <header class="header-main">
      <h1 style="font-family: 'Oswald', sans-serif">
        Cameron's Basic HTML Page
      </h1>
      <p style="font-family: 'EB Garamond', serif">
        Cameron Malone: 218344989 <br />
        for SIT120
      </p>
    </header>
    <div class="image-hero">
      <p style="font-family: 'EB Garamond', serif">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <em
          >Voluptate officia libero aut similique, accusantium illum laudantium
          labore ratione possimus totam ad praesentium in!</em
        >
        Nihil, quaerat nam. Dolore ipsam sequi similique architecto ad error quo
        dolor dignissimos ut iusto veritatis doloremque doloribus, vero nulla
        eius debitis incidunt quos necessitatibus recusandae? Minus?
      </p>
      <img
        src="./forest.jpg"
        alt="image of forest and mountains, source: https://unsplash.com/photos/bbe79lwBzK0"
        width="200px"
      />
    </div>
    <div class="footer-wrapper">
      <div class="form-wrapper">
        <h2>This is a form</h2>
        <form action="#">
          <label for="firstname">First Name:</label><br />
          <input type="text" name="firstname" id="fname" /><br />
          <label for="email">Email Address:</label><br />
          <input type="email" name="email" id="emailinput" />
        </form>
      </div>
      <div class="table-wrapper">
        <h2>This is a table</h2>
        <table>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
          </tr>
          <tr>
            <td>Jason Alexander</td>
            <td>7 Perfect Avenue, Olympus</td>
            <td>+341221212</td>
          </tr>
          <tr>
            <td>Missy Mississippi</td>
            <td>The Bay</td>
            <td>+6142069720</td>
          </tr>
          <tr>
            <td>Jimmy Jameson</td>
            <td>Swarzchild Way</td>
            <td>+100268830</td>
          </tr>
        </table>
      </div>
      <div id="date-wrapper">
        <h2>JS Date Button</h2>
        <button id="date-button" onclick="getDate()">Get the date!</button>
        <p id="date-text">bla</p>
      </div>

      <!-- This begins our vue section -->
      <div class="vue-wrapper">
        <h2>Vue Shopping App</h2>
        <div id="app">
          <div
            v-for="vege in shopping"
            :key="vege.title"
            :style="{ textDecoration: vege.checked? 'line-through':'none'}"
          >
            <input type="checkbox" v-model="vege.checked" />
            {{vege.title}}
          </div>
        </div>
      </div>
    </div>

    <!-- Internal Styles -->
    <style>
      h2 {
        font-family: "Oswald", sans-serif;
      }
    </style>
    <!-- Internal JS -->
    <script>
      getDate = () => {
        const date = new Date();
        document.getElementById("date-text").innerHTML = date.toDateString();
      };

      let vue = new Vue({
        el: "#app",
        data: {
          shopping: [
            { title: "Tomatoes", checked: false },
            { title: "Pickles", checked: false },
            { title: "Onions", checked: false },
          ],
        },
      });
    </script>
  </body>
</html>
